<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="./app.component.css">
    <title>Advanced Support and Services</title>
  </head>
  <body>
    <!-- encabezado-->
    <header class="container- fluid bg-primary d-flex justify-content-center ">
      <p class="text-light mb-0 p-2 fs-6">Contactanos (312)-573-73-57      </p>
    </header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light p-3 " id="menu">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <span class="text-primary fs-5 fw-bold">Advanced Support and Services</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Equipo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contacto</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="email" placeholder="Correo Electrónico" aria-label="email">
            <button class="btn btn-primary btn-primary-outline-success" type="button">Suscribete</button>
          </form>
        </div>
      </div>
    </nav>

    <!-- SLIDER DE IMAGENES no me esta funcionando-->

    <div id="carousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3000">
          <img src="C:\Users\Carito\Desktop\cotizador\angular\pagcot\src\imagenes\slider1.png" class="d-block w-100" alt="slide1">
        </div>
        
        <div class="carousel-item" data-bs-interval="3000">
          <img src="../imagenes/slider2.png" class="d-block w-100" alt="slide2">
        </div>
        
        <div class="carousel-item" data-bs-interval="3000">
          <img src="../imagenes/slider3.png" class="d-block w-100" alt="slide3">
        </div>

      
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <!-- INTRO-->
    <section class="w-50 mx-auto text-center pt-5" id="intro">
      <h1 class="p-3 fs-2 border-top border-3">Un proyecto único para todas tus necesidades de <span clas="text-primary">Tecnología</span></h1>
      <p><span clas="text-primary">Advanced Support and Services</span> es un proyecto donde te ayudamos con tus a resolver tus inconvenientes tecnológicos</p>
    </section>
     <!-- servicios-->

    <section class="container-fluid">
      <div class="row w-75 mx-auto my-5 servicio-fila">
        <div class="col-lg-6 col-md-12 col-sm-12 d-flex my-5 icono-wrap">
          <img src="../imagenes/img1.png" alt="Mantenimientos" width="180" height=160>
            <div>
              <h3 class="fs-5 mt-4 px-4 pb-1">Mantenimiento Equipos</h3>
              <p class="px-4">lo que vaya aqui </p>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 d-flex ">
              <img src="../imagenes/img1.png" alt="Mantenimientos" width="180" height=160>
                <div>
                  <h3 class="fs-5 mt-4 px-4 pb-1">Insumos para sus equipos</h3>
                  <p class="px-4">lo que vaya aqui </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 d-flex ">
                <img src="../imagenes/img1.png" alt="Mantenimientos" width="180" height=160>
                  <div>
                    <h3 class="fs-5 mt-4 px-4 pb-1">Venta de equipos</h3>
                    <p class="px-4">lo que vaya aqui </p>
                  </div>
            </div>
        </div>
      </div>
      <div class="row w-75 mx-auto my-5 servicio-fila">
        <div class="col-lg-6 col-md-12 col-sm-12 d-flex  my-5 icono-wrap">
          <img src="../imagenes/img1.png" alt="Mantenimientos" width="180" height=160>
            <div>
              <h3 class="fs-5 mt-4 px-4 pb-1">Mantenimiento Equipos</h3>
              <p class="px-4">lo que vaya aqui </p>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 d-flex ">
              <img src="../imagenes/img1.png" alt="Mantenimientos" width="180" height=160>
                <div>
                  <h3 class="fs-5 mt-4 px-4 pb-1">Mantenimiento Equipos</h3>
                  <p class="px-4">lo que vaya aqui </p>
                </div>
            </div>
          </div>
      </div>
    </section>

     <!-- sacerca de -->
     <section>
      <div class="w-75 m-auto text-center" id="equipo">
        <h1 class="mb-5 fs-2">Equipo pequeño con <span class="text-primary"> Grandes Resultados</span></h1>
        <p class="fs-4">nostros somo los mejores</p>
      </div>

      <div class="mt-5 text-center">
        <img class="img-fluid" src="../imagenes/nosotros.jpg"alt="equipo">
       </div>
      <div id="local" class="border-top border-2">
          <div class="mapa"></div>
          <div>
            <div class="wrapper">
              <h2> Ubicado en Bogota, Colombia</h2>
              <h2 class="text-primary mb-4" id="typewri"></h2>
              <p class="fs-5 text-body"> Se centra nuestra mayor cantidad clientes </p>
              <section>
                <img src="../imagenes/mapa.png" alt="ubicacion">
              </section>
            </div>
          </div>
      </div>
     </section>
     <!-- formulario bg-->
    
     <section id="seccion-contacto" class="border-bottom border-secundary border-2">
      <div id="bg-contacto">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
          <path fill="#0099ff" fill-opacity="1" d="M0,128L60,144C120,160,240,192,360,170.7C480,149,600,75,720,69.3C840,64,960,128,1080,138.7C1200,149,1320,107,1380,85.3L1440,64L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path>
        </svg>
      </div>
    <!-- formulario-->

    <div class="container" id="contenedor-formulario">
      <div id="titulo-formulario" class="text-center mb-4">
        <div>
         <img src="../imagenes/contacto.png" alt="contacto" class="img-fluid">        </div>
          <h2>Contactos</h2>
          <p class="fs-5"> este formulario esta muy bueno </p>
        </div>
        
        <form action="">
          <div class="mb-3">
             <input type="email" class="form-control" id="email" placeholder="nombre@ejemplo.com" required>
          </div>
          <div class="mb-3">
              <input type="text" class="form-control" id="nombre" placeholder="Cerolina Romero" required>
          </div>
          <div class="mb-3">
              <input type="tel" class="form-control" id="tel" placeholder="000000000" required>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Escribe tu mensaje aqui"></textarea>
          </div>
          <div class="mb-3">
            <button  type="button"class="btn btn-primary w-100 fs-5">Enviar mensaje</button>
          </div>
        </form>
    </div>
    </section>

    <!-- pie de pagina-->

    <footer class="w-100 d-flex aling-items justify-content-center flex-wrap">
      <p class="fs-5 px-3 pt-3">Todos los derechos resevados</p>
      <div id="iconos">
         <a href=""><i class="bi bi-facebook"></i></a>
         <a href=""><i class="bi bi-instagram"></i></a>
         <a href=""><i class="bi bi-whatsapp"></i></a>
      </div>

    </footer>





     <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    
  </body>
</html>